# This is extbug's configure file
# Warning: all file name should less than 128bytes

# log locate #
extbug_err_locate	= ../log/dataanalyzer_error.log

# pthread num #
# should smaller than 16 #
extbug_pthread_num	= 1

# update num #
# should smaller than 255 #
extbug_update_max	= 128

# dictionary path #
extbug_noun_path	=     ../text/dictionary/noun
extbug_noun_findex_path	= ../text/dictionary/noun/noun_findex

# file path #
extbug_sem_key_file	= dataanalyzer 

# databases #
news_database_name	= News
dic_database_name	= Dictionary
keys_database_name	= Keyword

# table name #
word_table_name		= t_word_noun
