# This script resolved by C or Python

# This is urlbug's configure file
# Warning: 
# 1. All file name should less than 128bytes
# 2. Changing the next path if you want to startup
#    urlbug not at ../bin/urlbug

# pthread num ( 1 ~ 3 )
urlbug_pthread_num      = 3

# max url len ( 128 ~ 256 )
urlbug_max_ulen         = 128

# ping
ping_packet             = 4
ping_host               = www.baidu.com

# readtimes
per_read_times          = 180

# file locate
urlbug_sem_key_file     = ../bin/urlcatcher

# for databases
urls_database_name      = Url 
urls_store_table_name   = UALL 

